
name: Terraform Deploy

on:
  push:
    branches: [ "main" ]   
  workflow_dispatch:        

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Login no Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}  

      - name: Instalar Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5   

      - name: Inicializar Terraform
        run: terraform init

      - name: Validar código
        run: terraform validate

      - name: Plano de mudanças (terraform plan)
        run: terraform plan -out=tfplan

      - name: Mostrar plano no log
        run: terraform show -no-color tfplan

      - name: Aplicar infraestrutura
        run: terraform apply -auto-approve tfplan
